*,
*:before,
*:after {
  padding                    : 0;
  margin                     : 0;
  box-sizing                 : border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:root {
  --white-bg       : #d4d4d4;
  --white-font     : black;
  --dark-bg        : black;
  --list-light-font: rgb(117, 93, 93);
  --dark-font      : rgb(214, 214, 214);
}

.main {
  width           : 100%;
  background-color: var(--white-bg);
  min-height      : 100vh;
  color           : var(--list-light-font);
  display         : flex;
  flex-direction  : column;
  gap             : 2rem;
  transition      : background-color .3s ease-in;
}

html[dark] .main {
  background-color: rgb(36, 36, 36);
  transition      : all .2s cubic-bezier(0.58, -0.01, 0.32, 1);
}

html[dark] .content {
  color: var(--dark-font);
}

html[dark] .light-icon {
  fill: white;
}

html[dark] .tools-parent {
  background-color: rgb(37, 37, 37);
}

html[dark] .cursor-default {
  border: none;
}
html[dark] .data-card {
  border: none;
}

html[dark] .hover-list {
  border: 1px dashed rgba(235, 235, 235, 0.705);
}

.row {
  display        : flex;
  align-items    : center;
  justify-content: space-between;
}

.container {
  /* padding       : 1.3rem 1.4rem 0; */
  padding: 1.3rem 23px 0;
  /* padding-bottom: 0; */
}

header {
  font-size: 1.2em;
}

h1,
h2,
.today-card,
li .list-text,
li .add-btn,
ul li {
  user-select: none;
}

h1,
.button,
.close-btn,
.submit-btn,
.nav-icon {
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.logo {
  background             : -webkit-linear-gradient(#f39178, #af4261);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dark-icon,
.light-icon {
  fill: var(--dark-font);
  fill: var(--white-font);
}

.today-card {
  background-color   : #af4261;
  border-radius      : 20px;
  padding            : 2rem;
  /* color           : rgb(228, 213, 213); */
  color              : rgb(245, 239, 239);
  font-size          : calc(10px + 2vmin);
}

.today-clock {
  margin-top: 18px;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.add-btn,
svg {
  fill: rgb(154, 154, 154);
}

.content-card:hover nav {
  opacity   : 1;
  visibility: visible;
}

.content-card-nav-active {
  pointer-events: none;
}

.nav-active {
  opacity   : 1;
  visibility: visible;
}

.content ul {
  display              : grid;
  grid-template-columns: repeat(4, 180px);
  justify-content      : center;
}

@media screen and (max-width:500px) {
  nav {
    opacity   : 1 !important;
    visibility: visible !important;
  }
}

@media (max-width: 963px) {
  .content ul {
    display              : grid;
    grid-template-columns: repeat(2, 150px);
    gap:0.8rem;
    justify-content      : center;
  }
}

li {
  width:150px;
  cursor             : pointer;
  /* border          : 1px dashed rgba(0, 0, 0, 0.333); */
  /* width           : 150px;
  height             : 150px; */
  /* margin          : 1rem; */
  justify-content    : center;
  align-items        : center;
  display            : flex;
  flex-direction     : column;
}

.data-card {
  background-color: rgba(232, 232, 232, 0.411);
  border-radius   : 20px;
  width           : 150px;
  height          : 150px;
  transition      : transform 0.11s ease-in;
  margin          : 1rem;
  justify-content : center;
  align-items     : center;
  display         : flex;
  flex-direction  : column;
  border: 2px solid rgb(202 199 199 / 70%);
cursor: default;

}

.hover-list {
  border          : 1px dashed rgba(0, 0, 0, 0.333);
  border-radius   : 20px;
  width           : 150px;
  height          : 150px;
  /* margin : 1rem; */
  transition      : transform 0.11s ease-in;
  background-color: rgba(232, 232, 232, 0.411);
}

.hover-list:hover {
  transform          : scale(1.08);
  /* background-color: rgba(232, 232, 232, 0.411); */

}

.backdrop {
  color           : white;
  position        : fixed;
  top             : 0;
  z-index         : 100;
  width           : 100%;
  height          : 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter : blur(0.3px);
}

.content-modal-container {
  position     : fixed;
  top          : 50%;
  left         : 50%;
  transform    : translate(-50%, -50%);
  border-radius: 20px;
  z-index      : 102;
  width        : 80vw;
  max-width    : 500px;
  height       : 270px;
}

.modal-content {
  position        : fixed;
  top             : 50%;
  left            : 50%;
  transform       : translate(-50%, -50%);
  border-radius   : 20px;
  background-color: #f2f2f7;
  display         : flex;
  flex-direction  : column;
  justify-content : center;
  padding         : 2rem;
  text-align      : center;
  width           : 80vw;
  max-width       : 500px;
  height          : 270px;
  color           : rgb(60, 60, 60);
  z-index         : 102;
}

.modal-container {
  display        : flex;
  flex-direction : column;
  flex           : 1 1 auto;
  align-items    : flex-start;
  justify-content: flex-start;
  gap            : 1rem;
}

.close-btn {
  position : absolute;
  top      : 0;
  right    : 0;
  margin   : 13px;
  font-size: 1.8em;
}

.name-parent {}

.inputName,
.date-input {
  border-radius: 8px;
  border       : 1px solid gainsboro;
  padding      : .6rem 0.8rem;
  position     : relative;
  width:100%;
}

.inputName {}

.inputName:focus {
  outline: none;
}

.date-input {
  position: relative;
  padding : 0.4rem 0.8rem;
}

.submit-btn {
  position        : absolute;
  bottom          : 0;
  right           : 0;
  margin          : 1.3em;
  background-color: green;
  color           : white;
  padding         : 0.5em 0.7em;
  border          : none;
  border-radius   : 8px;
}

.submit-btn:active {
  transform: translateY(4px);
  transform: scale(1.08);
}

.modal-container {}

.md-mobile-picker-header {
  font-size: 14px;
}

input.md-mobile-picker-input {
  color             : initial;
  width             : 100%;
  padding           : 10px;
  margin            : 6px 0 12px 0;
  border            : 1px solid #ccc;
  border-radius     : 0;
  font-family       : arial, verdana, sans-serif;
  font-size         : 14px;
  box-sizing        : border-box;
  -webkit-appearance: none;
}

.md-mobile-picker-button.mbsc-button {
  font-size  : 13px;
  padding    : 0 15px;
  line-height: 36px;
  float      : right;
  margin     : 6px 0;
  width      : 100%;
}

.mbsc-col-no-padding {
  padding-left: 0;
}

.md-mobile-picker-box-label.mbsc-textfield-wrapper-box,
.md-mobile-picker-box-label .mbsc-textfield-wrapper-box,
.md-mobile-picker-inline {
  margin: 6px 0 12px 0;
}

.content-children {
  height         : 100%;
  width          : 100%;
  margin         : 0 auto;
  justify-content: center;
  align-items    : center;
  padding        : 6px;
  text-align     : center;
}

.content-row {
  height         : 100%;
  display        : flex;
  flex-direction : column;
  justify-content: center;
  gap            : 10px;
  position       : relative;
}

.content-row .date-name {
  overflow-x: auto;
}

.dropdown {
  text-align: right;
  position  : relative;
  right     : -43px;
  top       : -16px;
}

.add-btn-row {
  display        : flex;
  align-items    : center;
  height         : 100%;
  justify-content: center;
}

nav {
  position  : relative;
  opacity   : 0;
  visibility: hidden;
  transition: opacity 0.1s linear 0s;
}

nav:focus {
  opacity   : 1;
  visibility: visible;
}

.nav-icon {
  position: relative;
}

.cursor-default {
  
}

.tools-parent {
  min-width       : 130px;
  position        : absolute;
  top: 20px;
right: -23px;
  background-color: white;
  z-index         : 100;
  gap             : 0.5em;
  border-radius   : 8px;
  box-shadow      : 0px 5px 12px 0px rgb(0 0 1 / 32%);
}

.tools-container {
  display        : flex;
  flex-direction : column;
  justify-content: center;
  position       : relative;
  margin         : 10px 0;
  display        : block;
  overflow       : hidden;
}

.tools-container>div {
  cursor     : pointer;
  user-select: none;
  text-align : left;
}

.edit-parent,
.delete-parent {
  display        : flex;
  justify-content: center;
  align-items    : center;
  padding        : 9px 13px;
  display        : flex;
  justify-content: flex-start;
  align-items    : center;
  gap            : 6px;
}

.edit-parent:hover,
.delete-parent:hover {
  background-color: rgba(219, 17, 17, 0.103);
}

.nav-icon-parent {
  z-index         : 100;
  text-align      : center;
  display         : flex;
  justify-content : center;
  align-items     : center;
  position        : absolute;
  background-color: transparent;
  width           : 40px;
  height          : 40px;
  border-radius   : 50%;
  right           : -32px;
  top             : -14px;
}

.content .row {
  font-size: 16px;
}