*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
*::-webkit-scrollbar {
  width: 10px;
  background: #055575ec;
  background-color: transparent;
}

*::-webkit-scrollbar {
  height: 20px;
}
*::-webkit-scrollbar-thumb {
  background-color: rgb(195, 195, 195);
  width: 20px;
  border-radius: 6px;
}
*::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey; */
  border-radius: 10px;
}
:root {
  --white-bg: #d4d4d4;
  --white-font: black;
  --dark-bg: black;
  --dark-font: white;
}
.main {
  width: 100%;

  background-color: var(--white-bg);
  /* background-color: var(--dark-bg); */
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: var(--dark-font);
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 2rem;
}
html[dark] .main {
  background-color: rgb(36, 36, 36);
}
html[dark] .light-icon {
  fill: white;
}
/* @media (prefers-color-scheme: dark){
  
} */
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container {
  padding: 2rem 1.4rem;
  padding-bottom: 0;
}
header {
  font-size: 1.2em;
}
h1,
h2,
.today-card,
li .list-text,
li .add-btn,
ul li {
  user-select: none;
}
h1,
.button,
.close-btn {
  cursor: pointer;
}
.button:focus {
  outline: none;
}
.logo {
  background: -webkit-linear-gradient(#f39178, #af4261);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.dark-icon,
.light-icon {
  fill: var(--dark-font);
  fill: var(--white-font);
}
.today-card {
  /* height:19vh; */
  background-color: #af4261;
  /* padding:1.6rem .7rem; */
  border-radius: 20px;
  padding: 2rem;
  /* max-width: 90vw; */
}
.today-clock {
  margin-top: 18px;
  /* text-align: center; */
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
}
.content-card {
  overflow: hidden;
}
.add-btn,
svg {
  fill: rgb(154, 154, 154);
}
/* Ripples{
  overflow: hidden;
} */

section .content {
  /* height: 50vh; */
  /* overflow-y: auto; */
}
.content ul {
  /* display: flex;
  justify-content: center;
  flex-direction: row; */
  /* border: 3px solid red; */
  /* max-width:500px; */
  /* border: 3px solid red; */
  /* flex-shrink: 3; */
  /* flex-grow:0; */
  /* flex-basis: 10%; */
  /* width:calc(100vw - 20px);
  height:calc(100vh - 20px); */

}

.content ul{
  display: grid;
  grid-template-columns: repeat(4,180px);
  justify-content: center;
}

@media(max-width: 963px) {
  
  .content ul{
    display: grid;
    grid-template-columns: repeat(2,180px);
    justify-content: center;
  }
}

li {
  border-radius: 20px;

  cursor: pointer;
  background-color: rgba(232, 232, 232, 0.411);
  border: 1px dashed rgba(0, 0, 0, 0.333);
  width: 150px;
  height: 150px;
  margin: 1rem;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  transition: transform 0.11s ease-in;
}
li:hover {
  background-color: rgba(179, 179, 179, 0.572);
  transform: scale(1.08);
  transition: transform 0.11s ease-in;
}
.content-card li:focus {
}
.modal-parent{
}
.backdrop {
  color: white;
  position: absolute;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(7px);
  /* transition: all 1s ease-in; */
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);   
  border-radius: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding:2rem;
  text-align: center;
  width: 80vw;
  max-width:500px;
  height: 30%;
  color: rgb(60, 60, 60);
  z-index: 101;
}

.close-btn{
  position: absolute;
  top:0;
  right:0;
  margin:13px;
  font-size: 1.8em;
}
.inputName{
padding: 0 .3rem;
 
/* background-color: transparent; */
}
.inputName:focus{
  outline: none;
}
.submit-btn{
  position: absolute;
  bottom: 0;
  right:0;
  margin:1.3em;
  background-color: green;
  color:white;
  padding:.5em .7em;
  border: none;
   border-radius: 5px;
   display: block;
}
.modal-container{
  /* padding:2rem 0; */
}