
*,*:before,*:after{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
:root{
  --white-bg:#d4d4d4;
  --white-font:black;
  --dark-bg:black;
  --dark-font:white;
}
.main {
  width: 100%;

  background-color: var(--white-bg);
  /* background-color: var(--dark-bg); */
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: var(--dark-font);
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap:2rem;
}
.row{
  display: flex;
  align-items: center;
  justify-content: space-between;

  
}
.container{
  padding: 2rem 1.4rem;
}
header{
  font-size:1.2em;
}
h1,h2, .today-card{
  user-select: none;
}
h1, .button{
  cursor: pointer;
}
.button:focus{
  outline: none;
}
.logo{
  background: -webkit-linear-gradient(#f39178, #af4261);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.dark-icon, .light-icon{
  fill:var(--dark-font);
  fill:var(--white-font);
  
  
}
.today-card{
  /* height:19vh; */
  background-color: #af4261;
  /* padding:1.6rem .7rem; */
  border-radius:20px;
  padding:2rem;
  /* max-width: 90vw; */
}
.today-clock{
  margin-top:18px;
  /* text-align: center; */
}


